{% extends "base.html" %}

{% block content %}
<h1>Ejemplo de uso</h1>


<main>
  <section>
    <h3> Lista de tareas </h3>

    <ul id="lista">
    {% block tarea_frag %}
    {% for tarea in tareas %}
        <il>
          <p>* {{ tarea.description }}</p>
        </il>
    {% endfor %}
    {% endblock %}
    </ul>

    <p><em>Los astericos porque me da pereza hacer CSS</em></p>

  </section>
  <form>
    <h2> Crear una tarea </h2>
    <div>
      <label for="description">Descripción: </label>
      <input id="description" type="text" />
    </div>

    <button type="submit" hx-post="/nueva" hx-target="#lista" hx-swap="beforeend">
      Añadir
    </button>

  </form>
</main>



{% endblock %}
